*{
    box-sizing: border-box;
}
.search-bar{
    border-bottom: 1px grey solid;
    padding: 2rem 1rem 0;
    background-color: burlywood;
}

.search-bar > input {
    margin: 0 1rem 0 0;
    padding: 0 1rem; 
    outline: none;
    border: none;
    width: 15rem;
    height: 2rem;

}

.search-bar > button {
    height: 2rem;
    width: 3rem;
}
