
.search-bar{
    width: 500px;
}

.history-names{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    background-color: var(--byzantine);
    border: 1px solid var(--flickr-pink);
}

.history-names li {
    border: 1px solid var(--flickr-pink);
    padding: 0.1rem 0.5rem;
}

.history-names li  button{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0.2rem;
    margin-left: 1rem;
    color: white;
}

.history-names li  button:hover{
    background-color: rgba(0, 0,0,0.1);
}

.history-names li a {
    color: white;
    text-decoration: none;
}

.search-bar > input {
    margin: 0;
    padding: 0 1rem; 
    outline: none;
    border: none;
    width: 15rem;
    height: 2rem;

}

.search-bar > button {
    height: 2rem;
    width: 3rem;
}