
header{
    border-bottom: 1px grey solid;
    padding: 2rem 1rem 0;
    background-color: burlywood;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-container{
    display: flex;
}