
header{
    border-bottom: 1px solid var(--vivid-sky-blue);
    padding: 2rem 1rem 0;
    background-color: var(--trypan-blue);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-container{
    display: grid; 
    grid-template-columns: 1fr 1000px;
}