.user-info-container{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px green solid;
    background-color:teal;

    border-radius: 5px;
    width: 300px;

    margin: 0;
}

.tier-emblem{
    width: 40%;
    height: 40%;
}
.wr{
    color: red;
}