.user-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px green solid;
    background-color:teal;
}

.tier-emblem{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: grey;
}